.contato{
	form{
		width: 900px;
		margin: auto;
		padding-bottom: 60px;
		padding-top: 40px;
		p{
			text-align: center;
			color: #000;
			font-size: 30px;
			font-family: 'Trasandina';
			line-height: 34px;
			margin-bottom: 50px;
		}
		label{
			display: block;
			margin-bottom: 15px;
			input{
				width: 100%;
				text-align: center;
				font-family: 'Trasandina';
				border:1px solid #b5b5b5;
				height: 45px;
				background: url(../images/input.jpg) top;
				font-size: 20px;
			}
			textarea{
				width: 100%;
				text-align: center;
				font-family: 'Trasandina';
				border:1px solid #b5b5b5;
				height: 116px;
				background: url(../images/textarea.jpg) top;
				font-size: 20px;
			}
		}
		button{
			width: 202px;
			height: 40px;
			padding-top: 5px;
			display: block;
			margin: auto;
			color: #fff;
			font-family: 'Trasandina';
			font-size: 27px;
			font-weight: bold;
			background: url(../images/button.jpg) no-repeat 0 0;
			border:0;
			cursor: pointer;
		}
		label.left{
			float: left;
			width: calc(50% - 25px);
		}
		label.right{
			float: right;
			width: calc(50% - 25px);
		}
	}
}
.contato.branco{
	background-color: #fff;
	form{
		padding-top: 0;
	}
}