header{
	position: fixed;
	width: 100%;
	height: 125px;
	padding-top: 30px;
	background-color: #fff;
	.container{
		width: auto;
		max-width: 1200px;
		margin: auto;
		.mobile{
			display: none;
		}
		figure{
			float: left;
		}
		.logo-1{
			width: 270px;
			margin-right: 40px;
			img{
				max-width: 100%;
			}
		}
		.logo-2{
			float: right;
		}
		menu{
			float: left;
			width: 810px;
			nav{
				padding-left: 80px;
				li{
					float: left;
					font-family: 'Trasandina';
					font-weight: bold;
					color: #555555;
					font-size: 14px;
					margin-right: 30px;
					text-transform: uppercase;
					line-height: 30px;
					padding-top: 50px;
					a{
						color: inherit;
						text-decoration: none;
					}
					a.active{
						color: #cfb63a;
					}
				}
			}
			>ul{
				li{
					float: left;
					width: 26px;
					margin-right: 8px;
					padding-top: 52px;
				}
			}
		}
	}
}