.mosquitos{
	.mosquito{
		border-radius: 10px;
		background-color: #fff;
		padding: 0 30px;
		height: 245px;
		width: 311px;
		text-align: center;
		font-family: 'Trasandina';
		h3{
			font-size: 24px;
			margin: 40px 0 25px;
		}
		p{
			font-size: 14px;
			line-height: 18px;
		}
	}
	.mosquito:nth-child(odd){
		float: left;
	}
	.mosquito:nth-child(even){
		float: right;
	}
	.mosquito:nth-child(1),
	.mosquito:nth-child(2){
		margin-bottom: 30px;
	}
}
.mosquitos:after{
	content: "";
	display: block;
	clear: both;
}
.mosquitos-texto{
	padding-top: 45px;
	h2{
		font-family: 'Trasandina';
		font-weight: bold;
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
	}
	p{
		text-align: center;
		font-size: 18px;
		font-family: 'Trasandina';
	}
}