.onde-encontrar{
	width: 1200px;
	margin: auto;
	padding: 60px 0;
	p{
		color: #000000;
		font-size: 30px;
		font-family: 'Trasandina';
		text-align: center;
		margin-bottom: 50px;
	}
	img{
		margin-right: 30px;
		margin-bottom: 50px;
	}
	img:nth-child(5n){
		margin-right: 0;
	}
}