@media screen and (max-width: 1024px) {
	header{
		.container{
			margin: 0 10px;
			position: relative;
			.mobile{
				display: block;
		        float: left;
		        position: absolute;
		        left: 50%;
		        margin-left: -25px;
		        top: 50%;
		        width: 50px;
		        height: 50px;
		        cursor: pointer;
		        background: #fff;
		        border: 0;
		        margin-top: 15px;
		        span{
		            display: block;
		            height: 2px;
		            background-color: #888a8d;
		            margin-bottom: 8px;
		        }
			}
			menu{
				display: none;
				background-color: rgba(255,255,255,0.7);
				float: none;
				position: absolute;
				width: 100%;
				top:130px;
				nav{
					padding-left: 0;
				}
				ul{
					li{
						float: none;
						margin-right: 0;
						padding-top: 20px;
						text-align: center;
						width: 100%;
					}
				}
			}
			menu.active{
				display: block;
			}
		}
	}
	#slider{
		.container{
			width: auto;
			min-height: auto;
			padding-bottom: 100px;
			img{
				width: 30%;
				height: auto;
			}
			div{
				width: calc(70% - 50px);
				margin-top: 25%;
				h1{
					font-size: 80px;
				}
				p{
					font-size: 60px;
				}
			}
		}
		.container:after{
			content: "";
			display: block;
			clear: both;
		}
	}
	.secao {
		.container.full-repel{
			width: auto;
			margin: 0 20px;
		}
		.onde-encontrar{
			width: auto;
			margin: 0 20px;
		}
	}
}
@media screen and (max-width: 800px) {
	#slider{
		.container{
			div{
				h1{
					font-size: 70px;
				}
				p{
					font-size: 50px;
				}
			}
		}
	}
	.secao{
		.container-771{
			width: auto;
			margin: 0 10px;
		}
	}
	.contato{
		form{
			width: auto;
			margin: 0 10px;
		}
	}
	.mosquitos{
		.mosquito{
			border-radius: 10px;
			background-color: #fff;
			padding: 0 30px;
			height: 245px;
			width: calc(50% - 65px);
			text-align: center;
			font-family: 'Trasandina';
		}
		.mosquito:nth-child(1),
		.mosquito:nth-child(2){
			margin-bottom: 10px;
		}
	}
}
@media screen and (max-width: 640px) {
	#slider {
		.container{
			padding: 30px 0;
			img {
	    		width: auto;
	    		height: auto;
	    		float: none;
	    		display: block;
	    		margin:  auto;
	    		max-width: 80%;
	    	}
	    	div{
	    		float: none;
	    		width: auto;
	    		margin: 30px 20px;
	    	}
	    }
	}
	.secao {
		.container.full-repel{
			>div{
				>img {
					float: none;
					width: auto;
					max-width: 80%;
					display: block;
					margin: auto;
				}
				div{
					margin: 0 20px;
				}
			}
		}
		h1{
			font-size: 50px;
		}
	}
	.mosquitos {
		.mosquito {
			float: none!important;
		    padding: 20px 20px 40px;
		    height: auto;
		    width: auto!important;
		}
	}
	.onde-encontrar {
		text-align: center;
		img {
		    margin-right: 0;
		    margin-bottom: 50px;
		    float: none;
		}
	}
}
@media screen and (max-width: 500px) {
	header {
		height: 175px;
		.container {
			.logo-1{
				width: calc(100% - 140px);
			}
			.mobile{
				left: auto;
				right: 20px;
				margin-left: 0;
				top: 100px;
			}
			menu{
				top: 180px;
			}
		}
	}
	.contato {
		form {
			label.left,
			label.right{
			    float: none;
			    width: 100%;
			}
		}
	}
}
@media screen and (max-width: 400px) {
}


#contato,
#revendedor,
footer{
	/*display: none;*/
}