.secao{
	background-color: #dfe0da;
	h1{
		font-size: 59px;
		font-weight: 900;
		font-family: 'Trasandina';
		text-align: center;
		line-height: 168px;
		border-bottom: 1px solid #fff;
	}
	h1.cinza{
		background-color: #404041;
		color: #fff;
	}
	h1.amarelo{
		background-color: #cfb63a;
		color: #fff;
	}
	h1.branco{
		background-color: #fff;
		color: #cfb63a;
	}
	.container.full-repel{
		width: 1228px;
		margin: 0 auto;
		padding: 66px 0;
		>div{
			color: #555;
			border-radius: 20px;
			background-color: #fff;
			padding: 50px 20px 40px 0;
			>img{
				float: left;
				margin-right: 30px;
				width: 300px;
			}
			h3{
				font-size: 28px;
				font-weight: 900;
				font-family: 'Trasandina';
				margin-bottom: 5px;
			}
			p{
				font-family: 'Trasandina';
				font-weight: 500;
				font-size: 20px;
				margin-bottom: 30px;
				line-height: 25px;
			}
			img.relogio{
				float: left;
				margin-right: 20px;
			}
			div.rel{
				p{
					padding-top: 20px;
				}
			}
		}
		>div:after{
			content: "";
			display: block;
			clear: both;
		}
	}
	.container-771{
		width: 771px;
		margin: auto;
		padding: 36px 0;
	}
	.container-771:after{
		content: "";
		display: block;
		clear: both;
	}
}
.secao.even{
	background-color: #c8ccbe;
}