#slider{
	padding-top:125px;
	background: url(../images/bg-slider-2.jpg) no-repeat center;
	background-size: cover;
	.container{
		min-height: 1000px;
		width: 1260px;
		margin: auto;
		> img{
			margin-top: 190px;
			float: left;
			margin-right: 50px;
		}
		div{
			float: left;
			width: 660px;
			margin-top: 380px;
			img.logo-grande{
				max-width: 100%;
				height: auto;
			}
			h1{
				font-family: 'Trasandina';
				font-weight: bold;
				font-size: 93px;
				color: #555555;
			}
			p{
				font-family: 'Trasandina';
				font-size: 200;
				font-size: 60px;
				color: #555555;
			}
		}
	}
}